html{
    font-size: 42px;
    background-image: url(./bcgrnd.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'Overpass', sans-serif;
    font-family: 'Palanquin Dark', sans-serif;
}
h1{
/* Hi there text */
    position: absolute;
    width: 374px;
    height: 126px;
    left: 553px;
    top: 203px;

    font-family: Overpass;
    font-style: italic;
    font-weight: 900;
    font-size: 82px;
    line-height: 126px;
/* identical to box height */


    color: #FFFFFF;

}
h2{
    position: absolute;
    width: 237px;
    height: 86px;
    left: 604px;
    top: 338px;

    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 86px;
/* identical to box height */

    letter-spacing: -0.08em;

    color: #FFFFFF;
}

p{
    position: absolute;
    width: 862px;
    height: 49px;
    left: 291px;
    top: 433px;

    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 49px;
    /* identical to box height */

    letter-spacing: -0.08em;

    color: #FFFFFF;

}

a.things{
    
    position: absolute;
    width: 100px;
    height: 58px;
    left: 387px;
    top: 586px;

    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 58px;
    /* identical to box height */

    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #FFE350;

}

a.art{
    position: absolute;
    width: 55px;
    height: 58px;
    left: 552px;
    top: 586px;

    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 58px;
    /* identical to box height */

    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #FFE350;


}

a.blog{
    /* blog */
    position: absolute;
    width: 76px;
    height: 58px;
    left: 672px;
    top: 586px;

    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 58px;
    /* identical to box height */

    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #FFE350;

}

a.info{
    /* ınfo */


position: absolute;
width: 66px;
height: 58px;
left: 813px;
top: 586px;

font-family: Palanquin Dark;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 58px;
/* identical to box height */

letter-spacing: -0.08em;
text-transform: uppercase;

color: #FFE350;

}

a.more{
    /* more */


position: absolute;
width: 80px;
height: 58px;
left: 944px;
top: 586px;

font-family: Palanquin Dark;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 58px;
/* identical to box height */

letter-spacing: -0.08em;
text-transform: uppercase;

color: #FFE350;

}

a{
    text-decoration: none;
}
@import "home";
