<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My wbPae!</title>
</head>
<body>
    <h1>Second Page</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam ut, earum obcaecati officia aliquid ea.</p>
    <!--Fonksiyona git demek olduğu için burada index.html yazmamıza gerek yok. İhtiyacımız oan şey zaten urls.py
    da bulunmakta. Yapmamız gereken bu html dosyasındaki go back yazısını o python dosyasındaki fonksiyona bağlamak.-->
    <a href="{{url_for('index')}}">Go back.</a>
</body>
</html>